Repository natelandau/backup-mongodb, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, application

build(deps): update dependencies
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .github/workflows/publish-docker.yml
  .github/workflows/upload-codecov.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  duties.py
  pyproject.toml
  src/backup_mongodb/utils/logging.py
  tests/test_helpers.py
  uv.lock
Labels: ci, application

ci: fix workflows
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/upload-codecov.yml
Labels: ci

build(deps): update dependencies (#31)
  .github/actions/setup_python_env/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .github/workflows/publish-docker.yml
  .github/workflows/upload-codecov.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  duties.py
  pyproject.toml
  src/backup_mongodb/utils/logging.py
  tests/test_helpers.py
  uv.lock
Labels: ci, application

feat: migrate to ezbak
  .dockerignore
  .env
  .github/actions/setup_python_env/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/test-build-container.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  compose.yml
  dev-templates/.env.template
  duties.py
  pyproject.toml
  src/backup_mongodb/__version__.py
  src/backup_mongodb/constants.py
  src/backup_mongodb/entrypoint.py
  src/backup_mongodb/main.py
  src/backup_mongodb/utils/__init__.py
  src/backup_mongodb/utils/aws.py
  src/backup_mongodb/utils/backup.py
  src/backup_mongodb/utils/helpers.py
  src/backup_mongodb/utils/logging.py
  tests/conftest.py
  tests/fixtures/archive.tgz
  tests/test_entrypoint.py
  tests/test_helpers.py
  uv.lock
Labels: ci, application

ci: fix tests
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/pr-linter.yml
Labels: ci

ci: fix tests
  .github/workflows/automated-tests.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
Labels: ci

build: standardize ruff check behavior
  .pre-commit-config.yaml
  duties.py
  tests/test_entrypoint.py
Labels: none

fix: validate after reading env vars
  src/backup_mongodb/entrypoint.py
Labels: application

ci: refactor tests
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-docker.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
Labels: ci

ci: refactor tests again
  .github/workflows/create-release.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test-build-container.yml
  .github/workflows/test.yml
Labels: ci

feat: migrate to ezbak (#32)
  .dockerignore
  .env
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-docker.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  compose.yml
  dev-templates/.env.template
  duties.py
  pyproject.toml
  src/backup_mongodb/__version__.py
  src/backup_mongodb/constants.py
  src/backup_mongodb/entrypoint.py
  src/backup_mongodb/main.py
  src/backup_mongodb/utils/__init__.py
  src/backup_mongodb/utils/aws.py
  src/backup_mongodb/utils/backup.py
  src/backup_mongodb/utils/helpers.py
  src/backup_mongodb/utils/logging.py
  tests/conftest.py
  tests/fixtures/archive.tgz
  tests/test_entrypoint.py
  tests/test_helpers.py
  uv.lock
Labels: ci, application

fix: remove unneeded dependencies
  README.md
  pyproject.toml
  uv.lock
Labels: none

bump(release): v1.1.0 → v1.2.0
  .github/actions/setup_python_env/action.yml
  CHANGELOG.md
  pyproject.toml
  src/backup_mongodb/constants.py
  uv.lock
Labels: ci, application

build(docker): speed build process
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  compose.yml
  duties.py
  uv.lock
Labels: none

feat(docker): build arm64 image
  .github/workflows/create-release.yml
  .github/workflows/reusable-tests.yml
  .pre-commit-config.yaml
  Dockerfile
  uv.lock
Labels: ci

ci: remove duplicate workflow steps
  .github/workflows/test.yml
Labels: ci

ci: fix permissions
  .github/workflows/reusable-tests.yml
Labels: ci

feat(docker): build arm64 image (#33)
  .github/workflows/create-release.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile
  uv.lock
Labels: ci

fix(backup): use directory dump instead of archive
  src/backup_mongodb/entrypoint.py
  tests/test_entrypoint.py
Labels: application

fix(backup): use directory dump instead of archive (#34)
  src/backup_mongodb/entrypoint.py
  tests/test_entrypoint.py
Labels: application

ci: refactor ci
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
Labels: ci

bump(release): v1.2.0 → v1.3.0
  CHANGELOG.md
  pyproject.toml
  src/backup_mongodb/constants.py
  uv.lock
Labels: application

fix: support ezbak v0.11.4
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  src/backup_mongodb/entrypoint.py
  uv.lock
Labels: application

bump(release): v1.3.0 → v1.3.1
  CHANGELOG.md
  pyproject.toml
  src/backup_mongodb/constants.py
  uv.lock
Labels: application

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
application:
  - changed-files:
      - any-glob-to-any-file: "src/**"
